| Welcome to Ash, `#{@user.username}`

  You have successfully signed up to Ash. To activate, just follow this link
  #{@url}
          
  Thank you for joining and have a nice __tree__ ;)
  
  --
  
  Ash
