doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  url
    loc https://spruce-tree.net
    lastmod 2014-05-05T10:00+00:00
    changefreq daily
    priority 1
  url
    loc https://spruce-tree.net/signup
    lastmod 2014-05-05T10:00+00:00
    changefreq weekly
    priority 0.9
  url
    loc https://spruce-tree.net/login
    lastmod 2014-05-05T10:00+00:00
    changefreq weekly
    priority 0.9
  url
    loc https://spruce-tree.net/introduction
    lastmod 2014-05-05T10:00+00:00
    changefreq weekly
    priority 0.9
  url
    loc https://spruce-tree.net/changelog
    lastmod 2014-05-05T10:00+00:00
    changefreq weekly
    priority 0.9
