// messages
.flash-messages,
.error-messages
  ul
    margin  9px 0px
    padding 0px
    li
      list-style none
    li.alert
      color red
    li.notice
      color green

// form
section
  form
    .field_with_errors
      display inline
      label
        color red
    input
      border  1px solid silver
      margin  3px
      padding 3px 5px
    input[type='checkbox']
      margin 3px 5px
    input[type='submit']
      position         absolute
      float            left
      left             5px
      margin           27px 0px 9px 0px
      background-color #FCFCFC
      border           1px solid #EBEBEB
      outline          none
      &:hover
        background-color #EDEDED

