// messages
.flash-messages,
.error-messages
  ul
    margin  9px 0px
    padding 0px
    li
      list-style none
    li.alert
      color red
    li.notice
      color green

// form
section
  form
    .field_with_errors
      display inline
      label
        color red
    .field
      label
        display block
        margin  3px 0px 0px 1px
      input
        border  1px solid silver
        margin  2px 0px 4px 0px
        padding 3px 5px
        &:focus
          background-color #EDEDED
      input[type='checkbox']
        margin 5px 1px
      textarea
        margin 0px
    .actions
      input[type='submit']
        background-color #FCFCFC
        position         absolute
        float            left
        left             5px
        padding          3px 5px
        margin           18px 0px 9px 5px
        border           1px solid #EBEBEB
        outline          none
        &:hover
          background-color #EDEDED
