// messages
.flash-messages,
.error-messages
  ul
    margin  9px 0px
    padding 0px
    li
      list-style none
    li.alert
      color red
    li.notice
      color green


// navigation
fs-style(type)
  color gray
  a
    text-decoration none
    if type == 'file'
      color #696969
      &:hover
        text-decoration underline
    else
      font-weight bold
      color       #0000CD
      &:hover
        text-decoration underline
active-style()
  font-weight bold
  color       #484848

p.navigation
  margin 13px 0px
  span.title
    margin      0px
    active-style()
  span.parenthesis-highlight
    background-color lightgray
    active-style()
p.path
  fs-style('directory')


// filesystem
ul.nodes
  li
    span.name
      fs-style('directory')
ul.notes
  li
    span.name
      fs-style('file')
ul.nodes, ul.notes
  li
    list-style none
    span.updated
      padding   0 3px 0 9px
      font-size 85%
      color     silver


// form
section
  form
    .field_with_errors
      display inline
      label
        color red
    .field
      label
        display block
        margin  3px 0px 0px 1px
      input
        border  1px solid silver
        margin  2px 0px 4px 0px
        padding 3px 5px
        &:focus
          background-color #EDEDED
      input[type='checkbox']
        margin 5px 1px
      textarea
        margin 0px
    .actions
      input[type='submit']
        background-color #FCFCFC
        position         absolute
        float            left
        left             5px
        padding          3px 5px
        margin           18px 0px 9px 8px
        border           1px solid #EBEBEB
        outline          none
        &:hover
          background-color #EDEDED
      .back,.reset
        display block
        float   left
        margin  23px 0px 3px 69px

// placeholders
placeholder-text = #4682B4
placeholder-style()
  color      placeholder-text
  font-style italic
  opacity    0.3

*::-webkit-input-placeholder
  placeholder-style()
*:-moz-placeholder
  placeholder-style()
*::-moz-placeholder
  placeholder-style()
*:-ms-input-placeholder
  placeholder-style()
