html, body
  font-family "Lucida Console", Monaco, monospace
  margin 0
  padding 5px
  color #575757

// layout - application
body.application
  header
    position absolute
    margin 0 0 9px 0
    min-width 600px
    h1
      text-align left
      float left
      margin 0px
      outline none
      a
        text-decoration none
        color #484848
        &:hover
          color black
        img
          float left
          margin 0
        span
          float left
          display block
          margin 13px 0 0 5px
          font-size 27px
    .user
      position absolute
      margin 63px 0 0 67px
      width 500px

  section
    display block
    margin 85px 0 0 0
    padding 4px 4px
    .main
      min-height 300px
