html, body
  font-family "Lucida Console", Monaco, monospace
  margin      0
  padding     5px
  color       #575757

// layout - min
body.min
  section
    display block
    margin  0px
    padding 4px 4px
    .main
      h3
        margin 5px 0 0 3px
        font-weight bold
      min-height 300px
      margin  0
      padding 0
