html, body
  font-family "Lucida Console", Monaco, monospace
  margin 0
  padding 5px
  color #575757

// layout - application
body.application
  header
    height 81px
    border-bottom 1px dashed gray
    h1
      width 200px
      margin 3px 0 12px 0
      a
        text-decoration none
        color #484848
        &:hover
          color black
        span
          font-size 27px
    h2
      text-align right
      float right
      margin 0
      outline none
      a
        text-decoration none
        img
          float left
          margin 0

  section
    margin-top 5px

header,section
  display block
  margin-left auto
  margin-right auto
  position relative

.logo, .nav
  width 30%
  min-width 250px
  float left

.container
  width 70%
  float left
  .content
    padding-left 20px

.nav
  .navs
    margin-top: 13px
    text-align right
    ul
      padding-right 3px
      li
        list-style none
