html, body
  margin  0
  padding 5px
  color   #575757

html, body
  font-family "Lucida Console", Monaco, monospace

header
  position absolute
  margin   0px 0px 9px 0px
  h1
    float   left
    margin  0px
    outline none
    a
      text-decoration none
      color           #484848
      &:hover
        color black
      img
        float  left
        margin 0px
      span
        float     left
        display   block
        margin    13px 0px 0px 3px
        font-size 27px
  .user
    position absolute
    margin 63px 0px 0px 66px
    width  500px
  .flash-messages
    float  left
    margin 10px 0 0 18px
section
  display block
  margin  99px 3px 9px 3px
