html, body
  font-family "Lucida Console", Monaco, monospace
  margin 0
  padding 0
  color #575757

body.min
  padding 5px
  section
    display block
    margin 0px
    padding 4px 4px
    .main
      min-height 300px
      margin 0
      padding 0
      h3
        margin 5px 0 0 3px
        font-weight bold
