// index
ul.notes
  padding 0
  margin  9px 0 0 0
  li
    list-style none
    span.created,
    span.updated
      padding 0 3px 0 5px

// show
.note
  margin 9px 0 0 0
  pre
    border-top 1px solid #EBEBEB
    padding    9px 0px
    margin     9px 0px
    width      700px

// form
section
  form
    input[type='submit']
      position         absolute
      float            left
      left             5px
      margin           27px 0px 9px 0px
      background-color #FCFCFC
      border           1px solid #EBEBEB
      outline          none

// canvas
textarea#canvas
  padding      0px 4px 3px 4px
  margin       0px
  border       none
  border-left  1px dashed #D8D8D8
  border-right 1px dashed #F2F2F2
  overflow     auto
  min-height   138px
  min-width    700px
  &:focus
    background-color #FCFCFC
