// index
ul.notes
  padding 0
  margin  1px 0 0 0

// show
#notes
  .box
    min-height 150px
    margin     9px 0 0 0
    span.updated
      color silver
    pre
      white-space pre-wrap
      white-space -moz-pre-wrap
      white-space -pre-wrap
      white-space -o-pre-wrap
      word-wrap   break-word
      border-top  1px solid #EBEBEB
      padding     9px 0px
      margin      9px 0px
      width       700px

// canvas
#notes
  .set-number
    margin      9px 0px 9px 0px
    line-height 1.44
  textarea#canvas
    padding       0px 4px 3px 4px
    margin        0px
    border        none
    border-bottom 1px dashed #D8D8D8
    overflow      auto
    min-height    144px
    min-width     700px
    //width         calc(100% - 45px * 2)
    &:focus
      background-color #FCFCFC
