// top
ul.links
  margin  0
  padding 0
  li
    list-style none

// introduction
#pages
  ul.descriptions
    margin  9px 0px 9px 5px
    padding 0
    li
      list-style none
      span
        font-weight bold
      ul
        margin  4px 0px 4px 18px
        padding 0
  ul.screenshots
    margin  9px 0px
    padding 0
    li
      display    inline
      list-style none
      margin 0px 9px 0px 0px
      img
        border 1px solid lightgray
        &:hover
          border 1px dashed lightgray

// changelog
#pages
  ul.changelog
    margin  0
    padding 0
    li
      list-style none
      span.released
        padding   0 3px
        font-size 85%
        color     silver
      ul
        margin  0 0 0 18px
        padding 0
