ul-style()
  margin 0 0 3px 18px
  padding 0

list-style()
  list-style none outside none
  list-style-image url(bullet.png)
  margin 0 0 3px 0

ul
  ul-style()
li
  list-style()
li ul
  margin-top 3px
li ul li
  margin-left -2px

// top
#pages.index
  h2.text
    font-size 13px
    font-weight normal
    margin 17px 0

// introduction
#pages.introduction
  ul.screenshots
    li
      display inline
      margin 0 9px 0 0
      img
        border 1px dashed lightgray
        &:hover
          border 1px dotted lightgray

  p.syntax,
  p.screenshots,
  p.author,
  p.note,
  ul.screenshots
    margin-left 20px

// changelog
#pages.changelog
  ul.changelog
    li
      span.released
        padding 0 3px
        font-size 85%
        color silver

// syntax
#pages.syntax
  pre.example
    width 700px
    margin 5px 0 10px 15px
    padding 9px
    border 1px solid #D8D8D8
