// top
ul.links
  margin  0
  padding 0
  li
    list-style none
    ul
      margin  3px 0 3px 12px
      padding 0

// introduction
#pages
  ul
    li
      list-style none
  ul.descriptions,
  ul.features
    margin  3px 0px 3px 20px

  ul.descriptions,
  ul.features,
  ul.screenshots
    padding 0
    li
      ul
        margin  3px 0px 3px 18px
        padding 0

  ul.screenshots
    li
      display inline
      margin 0px 9px 0px 0px
      img
        border 1px solid lightgray
        &:hover
          border 1px dashed lightgray

// changelog
#pages
  ul.changelog
    margin  0
    padding 0
    li
      list-style none
      span.released
        padding   0 3px
        font-size 85%
        color     silver
      ul
        margin  0 0 0 18px
        padding 0
    li.entry
      margin 3px 0 3px 0
