
button-style()
  text-decoration  none
  text-align       center
  color            black
  background-color #FCFCFC
  border           1px solid #EBEBEB
  padding          4px 8px
  min-width        60px
  display          inline-block
  outline          none
  font-size        90%
  letter-spacing   0.01em
  line-height      1.44
  &:hover
    background-color #EDEDED

.links
  height 27px

.actions
  display block
  height  48px
  margin  18px 0px 0px 1px
  .reset,.cancel
    float left
    a
      button-style()
      margin 9px 0px 0px 3px
      color  dimgray
      &:hover
        color black
  .destroy
    float left
    a
      button-style()
      margin 9px 0px 0px 3px
      color  dimgray

// form
section
  form
    .field_with_errors
      display inline
      label
        color red
    .field
      label
        display block
        margin  3px 0px 0px 1px
      input
        outline none
        border  1px solid silver
        margin  2px 0px 4px 0px
        padding 3px 5px
        &:focus
          background-color #EDEDED
      input[type='checkbox']
        margin 5px 1px
      textarea
        margin 0px
    .actions
      input[type='submit']
        button-style()
        margin 9px 10px 9px -1px
        float  left
        left   5px
